body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Écran noir qui recouvre tout */
.scary-screen {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s ease;
    z-index: 9999;
}

/* Quand on ajoute la classe .show ➜ l’écran apparaît */
.scary-screen.show {
    opacity: 1;
    pointer-events: auto;
}

/* Symbole pirate au milieu */
.pirate-symbol {
    font-size: 180px;
    color: #ff0000;
    text-shadow: 0 0 20px #ff0000, 0 0 35px #800000;
}

